In [2]:
x = 15

if x >= 10:
    print(x)

15

In [5]:
score = 85

if score >= 90:
    print("학점 A")
elif score >= 80 :
    print("학점 B")
elif score >= 70 :
    print("학점 C")
else :
    print("학점 F")

학점 B

In [7]:
score = 85

if score >= 70:
    print('성적이 70점 이상입니다.')
    if score >= 90 :
        print("우수한 성적입니다.")
else:
    print("성적이 70점 미만입니다.")
    print("조금 더 분발하세요.")

print("프로그램을 종료합니다.")

성적이 70점 이상입니다.
프로그램을 종료합니다.

In [10]:
score = 85
if score >= 80:
    pass
else:
    print("성적이 80점 미만입니다.")

print("프로그램을 종료합니다")

프로그램을 종료합니다

In [11]:
score = 85

if score >= 80 : result = "Success"
else : result = "Fail"

print(result)

Success

In [12]:
score = 85
result = "Success" if score >= 80 else "Fail"

print(result)

Success

In [15]:
a = [1, 2, 3, 4, 5, 5, 5]
remove_set = {3, 5}

result = []
for i in a :
    if i not in remove_set:
        result.append(i)
    
print(result)

[1, 2, 4]

In [17]:
a = [1, 2, 3, 4, 5, 5, 5]
remove_set = {3, 5}

result = [i for i in a if i not in remove_set]
print(result)

[1, 2, 4]

In [18]:
i = 1
result  = 0

while i <= 9:
    result += i
    i += 1
    
print(result)

45

In [19]:
i = 1
result = 0

while i <= 9:
    if i % 2 == 1:
        result += 1
    i += 1

print(result)

5

In [20]:
result = 0

for i in range(1, 10):
    result += i

print(result)

45

In [22]:
scores = [90, 85, 77, 65, 97]

for i in range(5):
    if scores[i] >= 80:
        print(i + 1, "번 학생은 합격입니다.")

1 번 학생은 합격입니다.
2 번 학생은 합격입니다.
5 번 학생은 합격입니다.

In [24]:
scores = [90, 85, 77, 65, 97]
cheating_list = {2,4}

for i in range(5):
    if i + 1 in cheating_list:
        continue
    if scores[i] >= 80:
        print(i+1, "번 학생은 합격입니다.")

1 번 학생은 합격입니다.
5 번 학생은 합격입니다.

In [25]:
for i in range(2, 10):
    for j in range(1, 10) :
        print(i, "X", j, "=", i*j)
    print()

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [26]:
def add(a, b):
    return a + b

print(add(3, 7))

10

In [27]:
def add(a, b):
    print('함수의 결과: ', a+b)
    
add(3,7)

함수의 결과:  10

In [29]:
def add(a, b):
    print('함수의 결과 : ', a+b)
    
add(b = 4, a = 7)

함수의 결과 :  11

In [30]:
a = 0

def func():
    global a
    a += 1
    
for i in range(10):
    func()
    
print(a)

10

In [34]:
def add(a,b) :
    return a + b

print(add(3, 7))

print((lambda a ,b : a + b)(3,7))

10
10

In [35]:
n = int(input())

data = list(map(int, input().split()))

data.sort(reverse=True)
print(data)

5
65 90 75 34 99
[99, 90, 75, 65, 34]

In [1]:
data = list(map(int, input().split('/')))
print(data)

65/90/75/34/99
[65, 90, 75, 34, 99]

In [3]:
n, m, k = map(int, input().split())

print(n, m, k)

3 5 7 9

ValueError: too many values to unpack (expected 3)

In [7]:
import sys

In [8]:
data = sys.stdin.readline().rstrip() # jupyter notebook은 stdin/out을 지원하지 않음
print(data)

In [9]:
a = 1
b=  2

print(a, b)

1 2

In [10]:
a = 1
b = 2 
print(a)
print(b)

1
2

In [12]:
answer = 7

print("정답은 " + str(answer) + "입니다.")

정답은 7입니다.

In [13]:
answer = 7

print("정답은 " , answer, " 입니다.")

정답은  7  입니다.

In [14]:
print(f"정답은 {answer}입니다.")

정답은 7입니다.