In [1]:
a = 1000

In [2]:
print(a)

1000

In [3]:
a = -7

In [4]:
print(a)

-7

In [5]:
a = 157.93
print(a)

157.93

In [6]:
a = -1837.2
print(a)

-1837.2

In [7]:
a = 5.
print(a)

5.0

In [8]:
a = -.7
print(a)

-0.7

In [10]:
a = 1e9
print(a)

1000000000.0

In [11]:
a = 75.25e1
print(a)

752.5

In [12]:
a = 3954e-3
print(a)

3.954

In [13]:
a = 0.3+0.6
print(a)

0.8999999999999999

In [14]:
if a == 0.9:
    print(True)
else :
    print(False)

False

In [16]:
a = 0.3 + 0.6
print(round(a, 4))

if round(a, 4) == 0.9:
    print(True)
else :
    print(False)

0.9
True

In [20]:
b = 0.1234
print(round(b, 3)) 

# round 함수는 n번째까지 남기고 그 다음 자리를 반올림 한다.

0.123

In [21]:
a = 7
b = 3

print(a / b)

2.3333333333333335

In [22]:
print(a % b)

1

In [23]:
print(a // b)

2

In [24]:
print(a ** b)

343

In [28]:
a = [i for i in range(1, 10)]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
print(a[4])

5

In [30]:
a = list()
print(a)

[]

In [31]:
a = []
print(a)

[]

In [34]:
n = 10
a = [0] * n
print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [35]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a[-1])

9

In [36]:
print(a[-3])

7

In [37]:
a[3] = 7
print(a)

[1, 2, 3, 7, 5, 6, 7, 8, 9]

In [38]:
a = [i for i in range(0,10)]

print(a[1 : 4])

[1, 2, 3]

In [40]:
array = [i for i in range(20) if i % 2 == 1]
print(array)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [42]:
array = [i * i for i in range(1, 10)]
print(array)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [43]:
n = 3
m = 4
array = [[0] * m for _ in range(n)]
print(array)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [44]:
n = 3
m = 4
array = [[0] * m] * n
print(array)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [45]:
array[1][1] = 5
print(array)

[[0, 5, 0, 0], [0, 5, 0, 0], [0, 5, 0, 0]]

In [47]:
a = [1, 4, 3]
print("기본 리스트 :", a)

a.append(2)
print("삽입 : ", a)

a.sort()
print("오름차순 정렬 : ", a)

a.sort(reverse = True)
print("내림차순 정렬 : ", a)

기본 리스트 : [1, 4, 3]
삽입 :  [1, 4, 3, 2]
오름차순 정렬 :  [1, 2, 3, 4]
내림차순 정렬 :  [4, 3, 2, 1]

In [48]:
a.reverse()
print("원소 뒤집기 : ", a)

a.insert(2, 3)
print("인덱스 2에 3 추가 : ", a)

print("값이 3인 데이터 개수 : ", a.count(3))

a.remove(1)
print("값이 1인 데이터 삭제 : ", a)

원소 뒤집기 :  [1, 2, 3, 4]
인덱스 2에 3 추가 :  [1, 2, 3, 3, 4]
값이 3인 데이터 개수 :  2
값이 1인 데이터 삭제 :  [2, 3, 3, 4]

In [49]:
a = [1, 2, 3, 4, 5, 5, 5]
remove_set = {3, 5}

result = [i for i in a if i not in remove_set]
print(result)

[1, 2, 4]